Book_summarizer/Book-Summary AI Agent and Vectors.json
{
  "name": "Book-Summary AI Agent and Vectors",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Use the  tool named 'Retrieve Documents' ** to retrieve content only of 20 pages. Use the retrieved content for summarization.\n\nOutput **only** the text in about 400 words from the \"summary\" field. \nDo **not** include JSON, quotes, or any other fields—just the plain text.\nOutput language is arabic. Never use your knowledge, the output must be from the book.\nIf the text of some pages is too less or the page is empty continue with the next page.\nDo not handle each page separated. Work on the content of the selected 20 pages at once.\nContent: use 'Rerieve Documents' tool to get the content.",
        "options": {
          "systemMessage": "You are an expert book summarization assistant. Your task is to provide a clear and concise summary of the text retrieved from a book. \n\nRules:\n0. Check the number of the last read page in the memory and use it as start page.\n1. **Use 'Retrieve Documents' tool** to retrieve content only of 20 pages. Use the retrieved content for summarization. \n2. Summarize the extracted text clearly and concisely, **all 20 pages at once**.\n3. Output only the summary text of the 20 pages, without any JSON, markdown, or additional explanations.\n4. After the summary, append a line that says Last page read: X, where X is the last page number processed and use here for same language as the summary.\n5. Update the last read page in the memory. \n6. Send the end output of all 20 pages as a message using telegram tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        528
      ],
      "id": "3239e7cf-47c8-4e24-92b6-4254ba443ad5",
      "name": "AI Agent",
      "retryOnFail": false,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        528
      ],
      "id": "21d93f9a-f1b1-4dad-b6a4-2c25746ea294",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=PLACEHOLDER_GDRIVE_FILE_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        528
      ],
      "id": "f252ba59-d846-433e-876f-f8a1bebb7129",
      "name": "Get PDF"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -496,
        528
      ],
      "id": "cd326b62-6cf1-4ca3-8bff-9ca3fedbb970",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "chatId": "PLACEHOLDER_CHAT_ID",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        560,
        752
      ],
      "id": "b433089a-2d8e-4e73-a6a0-486927e2af61",
      "name": "Send text message",
      "webhookId": "PLACEHOLDER_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        752
      ],
      "id": "76ce5c89-3e1d-4d05-ad1b-7374e249f4ec",
      "name": "Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        528
      ],
      "id": "b38e2942-6bff-4e23-809e-9632bd413679",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        752
      ],
      "id": "9711cdd2-a344-4fb0-b930-9001b4523512",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        752
      ],
      "id": "f85897c6-f89c-49db-bca2-9162af25531f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -48,
        528
      ],
      "id": "bc1af3c8-6878-4e7f-8489-ca2a18d9999a",
      "name": "Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        928
      ],
      "id": "7e74cc1d-9da6-41c5-8c49-6e616eab6151",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use this node at the first before anything else. Retrieve 20 pages from  {{ $('Vector Store').item.json.pageContent }}",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 2,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        704,
        752
      ],
      "id": "0b8f22dc-7c36-4e3c-93c3-b63fb60732eb",
      "name": "Retrieve Documents"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session_key",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        752
      ],
      "id": "61d67fb9-95a0-4d25-9a3d-8ea7f2fe808d",
      "name": "Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fe9a981-fde3-4b7b-b508-210164cdff9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "PLACEHOLDER_INSTANCE_ID"
  },
  "id": "PLACEHOLDER_WORKFLOW_ID",
  "tags": []
}